body {
    background: rgb(0, 141, 160);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: verdana;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(248, 147, 88);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(26, 4, 4);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #ffffff;
}

/* main container area beneath menu */
main {
    background: rgb(245, 77, 119);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 600px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 12px rgb(46, 112, 199) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}

  /* portfolio styles */
  .content h1 {
    color: black;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #eee;
}

#portfolio a {
    text-decoration: none;
    color: #454545;
}